{:source-paths ["src"]
 :builds {:app {:target :browser
                :output-dir "resources/public/compiled"
                :asset-path "/compiled"
                :modules {:main {:init-fn guima.web-app/main!
                                 :entries [guima.web-app]}}
                :devtools {:after-load guima.web-app/refresh
                           :preloads   [com.fulcrologic.fulcro.inspect.preload]}}}
 :dependencies [[cljs-http "0.1.46"]
                [binaryage/devtools "0.9.11"]
                [cider/cider-nrepl "0.25.0"]
                [com.fulcrologic/fulcro "3.2.9"]
                [com.cemerick/url "0.1.1"]]}
